.loading-spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.loading-spinner {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.loading-spinner div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    animation: loading-spinner 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loading-spinner.color-primary div {
    background: var(--primary-color);
}

.loading-spinner.color-secondary div {
    background: var(--secondary-color);
}

.loading-spinner div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.loading-spinner div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.loading-spinner div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

.size-small .loading-spinner {
    width: 40px;
    height: 40px;
}

.size-small .loading-spinner div {
    width: 8px;
    height: 8px;
}

.size-medium .loading-spinner {
    width: 80px;
    height: 80px;
}

.size-large .loading-spinner {
    width: 120px;
    height: 120px;
}

.size-large .loading-spinner div {
    width: 18px;
    height: 18px;
}

@keyframes loading-spinner {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
} 